$dist1: .75em ;
$dist2: 1.5em ;
$dist3: 3em ;
$dist4: 6em ;
$fontS: 1.2em ;
$fontM: 1.6em ;
$fontL: 2em ;
$fontXL: 2.4em ;
$fontSpecial: 3em ;
$fontXXL: 4em ;
$sectionsDist: 4em ;
// :export{
//     dist1: $dist1 ;
//     dist2: $dist2 ;
//     dist3: $dist3 ;
//     dist4: $dist4 ;
//     fontS: $fontS ;
//     fontM: $fontM ;
//     fontL: $fontL ;
//     fontXL: $fontXL ;
//     fontSpecial: $fontSpecial ;
//     fontXXL: $fontXXL ;
//     sectionsDist: $sectionsDist ;
// }