#category {
  width: 100%;
  height: auto;
  padding: 3em 0;
  background: url("../../assets/imgs/advice.jpg") center center no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#category .title {
  max-width: 50%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#category .title .titleWrapper {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#category .title .titleWrapper h2 {
  font-size: 2.4em;
  font-weight: 700;
  color: #007FE8;
}

#category .title .titleWrapper h4 {
  font-size: 2.2em;
  color: #2d2d31;
  margin-right: .3em;
}

#category .title p {
  width: 90%;
  text-align: center;
  font-size: 1.6em;
  color: #525259;
  margin-top: 0.75em;
}

#category .select {
  width: auto;
  height: auto;
  margin-top: 3em;
  padding: 3em 1.5em;
  background-color: white;
  border: 1.2px solid #ea6161;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#category .select p {
  font-size: 1.6em;
  color: #2d2d31;
}

#category .select select {
  border-radius: 1.5em;
  margin-right: 1.5em;
  padding: 0.75em;
  font-size: 1.4em;
  color: #5d5d68;
}

#category .select select option[value=""] {
  display: none;
}

#category .tabs {
  width: auto;
  height: auto;
  margin-top: 1.5em;
}

#category .tabs .tab {
  display: none;
  width: auto;
  height: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
}

#category .tabs .tab .advice {
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-6em);
     -moz-transform: translateY(-6em);
      -ms-transform: translateY(-6em);
          transform: translateY(-6em);
  width: -webkit-calc((100% - (3 * 3em)) / 3);
  width: -moz-calc((100% - (3 * 3em)) / 3);
  width: calc((100% - (3 * 3em)) / 3);
  height: auto;
  margin: 1.5em;
  padding: 0 1.5em;
  background-color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#category .tabs .tab .advice img {
  width: 10em;
  height: 10em;
}

#category .tabs .tab .advice h4 {
  font-size: 2em;
  font-weight: 700;
  color: #2d2d31;
  margin-top: 0;
}

#category .tabs .tab .advice p {
  font-size: 1.6em;
  color: #90909b;
  margin-top: 0.75em;
}

#category .tabs .tab .advice a {
  width: auto;
  height: auto;
  margin: 0.75em 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  font-size: 1.2em;
  color: #90909b;
}

#category .tabs .tab .advice a i {
  margin-right: .3em;
  -webkit-transform: translateY(40%);
     -moz-transform: translateY(40%);
      -ms-transform: translateY(40%);
          transform: translateY(40%);
}

#category .tabs .tab .advice a p {
  font-size: 1.2em;
}

#category .tabs .tab .advice.show {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

#category .tabs .tab .advice.anime {
  -webkit-animation: fadeIn .5s linear forwards;
     -moz-animation: fadeIn .5s linear forwards;
          animation: fadeIn .5s linear forwards;
}

#category .tabs .tab .advice.anime:nth-child(1) {
  -webkit-animation-delay: 0s;
     -moz-animation-delay: 0s;
          animation-delay: 0s;
}

#category .tabs .tab .advice.anime:nth-child(2) {
  -webkit-animation-delay: .25s;
     -moz-animation-delay: .25s;
          animation-delay: .25s;
}

#category .tabs .tab .advice.anime:nth-child(3) {
  -webkit-animation-delay: .5s;
     -moz-animation-delay: .5s;
          animation-delay: .5s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-6em);
            transform: translateY(-6em);
  }
  to {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
    -moz-transform: translateY(-6em);
         transform: translateY(-6em);
  }
  to {
    opacity: 1;
    visibility: visible;
    -moz-transform: translateY(0);
         transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-6em);
       -moz-transform: translateY(-6em);
            transform: translateY(-6em);
  }
  to {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
            transform: translateY(0);
  }
}

#category .tabs .tab.active {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1000px) {
  #category {
    font-size: 8px;
  }
}

@media screen and (max-width: 800px) {
  #category .title {
    max-width: 75%;
  }
  #category .tabs .tab .advice {
    width: -webkit-calc((100% - (2 * 3em)) / 2);
    width: -moz-calc((100% - (2 * 3em)) / 2);
    width: calc((100% - (2 * 3em)) / 2);
  }
}

@media screen and (max-width: 700px) {
  #category {
    font-size: 6px;
  }
}

@media screen and (max-width: 400px) {
  #category .title {
    max-width: 90%;
  }
  #category .select {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-align-content: "";
        -ms-flex-line-pack: "";
            align-content: "";
  }
  #category .select select {
    margin-top: 0.75em;
  }
  #category .tabs .tab .advice {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 350px) {
  #category .title {
    max-width: 90%;
  }
  #category .title .titleWrapper h2 {
    font-size: 2em;
  }
  #category .title .titleWrapper h4 {
    font-size: 2em;
  }
}
/*# sourceMappingURL=advice.css.map */