@import '../../variables.scss' ;
@import '../../colors.scss' ;
@import '../../mixins.scss' ;
#articles{
    width: 100%;
    height: auto;
    padding: $dist3 $dist4 * 2;
    display: flex;
    @include flex(column,flex-start,center,nowrap,"") ;
    h4{
        font-size: $fontXL;
        color: $textDark;
        font-weight: 700;
    }
    p{
        font-size: $fontM;
        color: darken($textGrey,0%);
        margin-top: 0;
    }
    .articles{
        width: 100%;
        height: auto;
        margin-top: $dist2;
        display: flex;
        @include flex(row,flex-start,flex-start,wrap,flex-start) ;
        .article{
            width: calc((100% - (4 * 3em)) / 4);
            height: auto;
            margin: $dist2;
            display: flex;
            @include flex(column,flex-start,flex-start,nowrap,"") ;
            position: relative;
            &:hover{
                &::before{width: 100%;}
            }
            img{
                width: 100%;
                height: 15em;
                object-fit: cover;
            }
            h6{
                margin-top: $dist1;
                font-size: $fontM;
                color: $textDark;
            }
            &::before{
                content: '';
                width: 0%;
                height: .35em;
                background-color: lighten($blueColor1,15%);
                transition: all .3s linear;
                position: absolute;
                right: 0;
                top: 105%;
            }
        }
    }
}