header nav {
  width: 100%;
  height: auto;
  position: absolute;
  right: 0;
  top: 6em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  color: #fbfbfb;
  padding-right: 10vw;
}

header nav .logo {
  width: 12em;
  height: 4em;
}

header nav .navigation {
  width: auto;
  height: auto;
  margin-right: auto;
  margin-left: 10vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

header nav .navigation > li {
  width: auto;
  height: auto;
  cursor: pointer;
  margin-right: 1.5em;
  font-size: 1.6em;
  color: inherit;
  padding: 0.75em;
}

header nav .navigation > li:not(.search) {
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
  background-color: transparent;
}

header nav .navigation > li:not(.search):hover {
  background-color: #333E55;
}

header nav .navigation .dropdownTrigger {
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  position: relative;
}

header nav .navigation .dropdownTrigger p, header nav .navigation .dropdownTrigger i {
  color: inherit;
}

header nav .navigation .dropdownTrigger i {
  margin-right: 0.75em;
}

header nav .navigation .dropdownTrigger:hover .dropdown {
  height: auto;
  opacity: 1;
  visibility: visible;
}

header nav .navigation .dropdownTrigger .dropdown {
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
  width: 10em;
  height: 0;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: -webkit-calc(100% + 1em);
  top: -moz-calc(100% + 1em);
  top: calc(100% + 1em);
  right: 0;
  -webkit-box-shadow: 0 0 0.3em 0.05em #c8c8c8;
          box-shadow: 0 0 0.3em 0.05em #c8c8c8;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

header nav .navigation .dropdownTrigger .dropdown li {
  width: 100%;
  height: auto;
  font-size: 10px;
  color: #fbfbfb;
  background-color: rgba(51, 62, 85, 0.65);
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
}

header nav .navigation .dropdownTrigger .dropdown li a {
  display: inline-block;
  padding: 0.75em;
  width: 100%;
  height: auto;
  color: inherit;
  font-size: 1.6em;
}

header nav .navigation .dropdownTrigger .dropdown li:hover {
  background-color: #161b25;
}

header nav .navigation .shop, header nav .navigation .blog, header nav .navigation .search {
  width: auto;
  height: auto;
  font-size: 10px;
  padding: 0;
}

header nav .navigation .shop a, header nav .navigation .blog a, header nav .navigation .search a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 0.5em 1.5em;
  color: inherit;
  font-size: 1.6em;
}

header nav .navigation .blog {
  border: 1.2px solid #fbfbfb;
}

header nav .navigation .blog:hover {
  border: 1.2px solid transparent;
}

header nav .navigation .search {
  padding: 0;
  margin-right: 5em;
}

header nav .navigation .search a {
  font-size: 10px;
}

header nav .navigation .search i {
  font-size: 2.4em;
}

@media screen and (max-width: 1000px) {
  header nav {
    font-size: 7px;
  }
}

@media screen and (max-width: 800px) {
  header nav {
    padding-right: 10vw;
  }
  header nav .navigation {
    margin-right: 0.75em;
  }
  header nav .navigation > li {
    margin-right: 0.75em;
  }
}

@media screen and (max-width: 750px) {
  header nav {
    display: none;
  }
}
/*# sourceMappingURL=nav.css.map */