@import '../../variables.scss' ;
@import '../../colors.scss' ;
@import '../../mixins.scss';
#sponsors{
    width: 100%;
    height: auto;
    padding: $dist3 10vw;
    display: flex;
    @include flex(column,flex-start,center,nowrap,"");
    h4{
        font-size: $fontXL;
        color: $textDark;
        font-weight: 700;
    }
    .sponsors{
        width: 100%;
        height: auto;
        display: flex;
        @include flex(row,flex-start,center,wrap,flex-start);
        .sponsor{
            width: calc((100% - (6 * 3em)) / 6);
            height: 9em;
            margin: $dist2;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}
@include resizeTablet('#sponsors') ;
@include mediaQ(850px){
    #sponsors{
        .sponsors{
            .sponsor{
                width: calc((100% - (5 * 3em)) / 5);
                height: 10em;
            }
        }
    }
}
@include mediaQ(800px){
    #sponsors{  
        padding: $dist3 $dist2;
    }
}
@include resizeMobile('#sponsors') ;
@include mediaQ(600px){
    #sponsors{
        .sponsors{
            .sponsor{
                width: calc((100% - (4 * 3em)) / 4);
                height: 11em;
            }
        }
    }
}
@include mediaQ(430px){
    #sponsors{
        .sponsors{
            .sponsor{
                width: calc((100% - (3 * 3em)) / 3);
                height: 12em;
            }
        }
    }
}
@include mediaQ(330px){
    #sponsors{
        .sponsors{
            .sponsor{
                width: calc((100% - (2 * 3em)) / 2);
                height: 13em;
            }
        }
    }
}
