@import '../../variables.scss' ;
@import '../../colors.scss' ;
@import '../../mixins.scss' ;
main#comments{
    width: 90%;
    height: auto;
    margin: $dist3 auto 0 auto;
    display: flex;
    @include flex(column,flex-start,flex-start,nowrap,"") ;
    h4{
        font-size: $fontXL;
        font-weight: 700;
        color: $textDark;
    }
    .wrapper{
        width: 100%;
        height: auto;
        margin: $dist2 0;
        display: flex;
        @include flex(row,flex-start,flex-start,nowrap,"") ;
        .right{
            width: 100%;
            height: auto;
            display: flex;
            @include flex(column,flex-start,flex-start,nowrap,"") ;
            .comment{
                width: 100%;
                height: auto;
                padding: $dist2 0;
                // &:not(:first-child){margin-top: $dist2;}
                &:not(:last-child){border-bottom: 1px solid $textGrey;}
                display: flex;
                @include flex(column,flex-start,flex-start,nowrap,"") ;
                .score,.writer,.content{
                    width: 100%;
                    height: auto;
                    display: flex;
                    @include flex(row,flex-start,center,nowrap,"") ;
                    &:not(:first-child){margin-top: $dist1;}
                }
                .score{
                    .stars{
                        width: auto;
                        height: auto;
                        display: flex;
                        @include flex(row,flex-start,flex-start,nowrap,"") ;
                        i{
                            font-size: $fontM - .2em;
                            color: rgb(255, 187, 0);
                        }
                    }
                    h6{
                        font-size: $fontM;
                        font-weight: 700;
                        color: $textDark;
                        margin-right: $dist1;
                    }
                }
                .writer{
                    p{
                        font-size: $fontM;
                        &:nth-child(1){
                            color: $textDark;
                            font-weight: 700;
                        }
                        &:nth-child(2){
                            color: $textGrey;
                            margin-right: $dist1;
                        }
                    }
                }
                .content{
                    p{
                        width: 100%;
                        height: auto;
                        line-height: $dist2 + .3em;
                        font-size: $fontM;
                        color: $textGrey;
                    }
                }
            }
        }
        .left{
            flex-shrink: 0;
            width: 30em;
            height: auto;
            margin-right: $dist2;
            display: flex;
            @include flex(column,flex-start,center,nowrap,"") ;
            a{
                width: auto;
                height: auto;
                img{
                    width: 22em;
                    height: 16em;
                }
            }
            h6{
                font-size: $fontM + .2em;
                font-weight: 700;
                color: $textDark;
                margin-top: 0;
            }
            .prices{
                width: auto;
                height: auto;
                margin-top: $dist1;
                display: flex;
                @include flex(row,flex-start,center,nowrap,"") ;
                .discount{
                    font-size: $fontM;
                    text-decoration: line-through;
                    color: $textGrey;
                }
                .price{
                    font-size: $fontL;
                    margin-right: $dist2;
                    color: lighten($redColor2,5%);
                }
            }
            button{
                cursor: pointer;
                width: auto;
                height: auto;
                margin-top: $dist1;
                border-radius: $dist2;
                padding: .3em $dist2;
                font-size: $fontM + .2em;
                color: white;
                background-color: $primaryColor;
            }
        }
    }
}

