@import '../../variables.scss' ;
@import '../../colors.scss' ;
@import '../../mixins.scss' ;
@import './breadcrumb.scss' ;
@import '../../utilities/styles/productSlider.scss' ;
main{
    #product{
        display: flex;
        @include flex(column,flex-start,flex-start,nowrap,"") ;
       .infos{
           width: 100%;
           height: auto;
           margin-top: $dist2;
           display: flex;
           @include flex(row,flex-start,flex-start,nowrap,"") ;
           .info{
               width: 100%;
               height: auto;
               display: flex;
               @include flex(column,flex-start,flex-start,nowrap,"") ;
               h4{
                   font-size: $fontL;
                   font-weight: 700;
                   color: $textDark;
               }
               p{
                   font-size: $fontM;
                   color: darken($textGrey,10%);
                   margin-top: $dist1;
               }
               .buy{
                   @include swapColor(white,$primaryColor) ;
                   margin-top: $dist1;
               }
               .desc{
                    width: 100%;
                    height: auto;
                    margin-top: $dist1;
                    display: flex;
                    @include flex(column,flex-start,flex-start,nowrap,"") ;
                    p{
                        font-size: $fontM;
                        line-height: $dist2 + .2em;
                        color: darken($textGrey,15%);
                    }
                }
           }
       }
    }
}