@import '../../variables.scss' ;
@import '../../colors.scss' ;
@import '../../mixins.scss' ;
#faq{
    margin: $dist3 auto 0 auto;
    padding: $dist2 ;
    display: flex ;
    @include flex(column,flex-start,center,nowrap,"") ;
    img{
        width: 12em ;
        height: 12em;
    }
    h4{
        font-size: $fontL ;
        font-weight: 700 ;
        color: $primaryColor ;
    }
    .question{
        width: 100% ;
        height: auto;
        display: flex ;
        @include flex(column,flex-start,flex-start,nowrap,"") ;
        border-bottom: 1px solid lighten($textGrey,20%) ;
        &:last-child{border-bottom: none ;}
        padding-bottom: $dist2 ;
        margin-top: $dist3 ;
        .content{
            width: 100% ;
            height: auto;
            display: flex ;
            @include flex(row,flex-start,flex-start,nowrap,"") ;
            p{
                width: 100% ;
                height: auto;
                font-size: $fontM ;
                color: $textDark ;
                font-weight: 700 ;
            }
            i{
                flex-shrink: 0 ;
                font-size: $fontL ;
                color: $primaryColor ;
                cursor: pointer;
                margin-right: $dist2 ;
                padding-right: $dist2 ;
                transition: all .3s linear ;
            }
        }
        .answer{
            width: 100% ;
            p{
                font-size: $fontM ;
                color: darken($textGrey,10%) ;
                line-height: 2.5 ;
            }
        }
    }
}
.collapseTrigger{cursor: pointer;}
.collapse{
    height: auto;
}
.collapse.close{
    opacity: 0;
    visibility: hidden ;
    height: 0;
}
.collapse.addTransition{transition: all .15s linear ;}
.collapse.open{
    opacity: 1;
    visibility: visible ;
}