#contactWrapper {
  width: 100%;
  height: auto;
  margin: 1.5em auto;
  padding: 0 10vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#contactWrapper .sideBar {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 27.5em;
  height: auto;
  border-top: 0.4em solid #4a4e60;
  padding: 1.5em;
  padding-top: 0.75em;
  background-color: #eeeef0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#contactWrapper .sideBar .office, #contactWrapper .sideBar .hourWork {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#contactWrapper .sideBar .office:not(:first-child), #contactWrapper .sideBar .hourWork:not(:first-child) {
  margin-top: 1.5em;
}

#contactWrapper .sideBar .office .address, #contactWrapper .sideBar .office .phone, #contactWrapper .sideBar .office .email, #contactWrapper .sideBar .office .hour, #contactWrapper .sideBar .hourWork .address, #contactWrapper .sideBar .hourWork .phone, #contactWrapper .sideBar .hourWork .email, #contactWrapper .sideBar .hourWork .hour {
  max-width: 100%;
  height: auto;
  margin-top: 0.75em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  color: #2d2d31;
}

#contactWrapper .sideBar .office .address i, #contactWrapper .sideBar .office .phone i, #contactWrapper .sideBar .office .email i, #contactWrapper .sideBar .office .hour i, #contactWrapper .sideBar .hourWork .address i, #contactWrapper .sideBar .hourWork .phone i, #contactWrapper .sideBar .hourWork .email i, #contactWrapper .sideBar .hourWork .hour i {
  font-size: 1.4em;
}

#contactWrapper .sideBar .office .address p, #contactWrapper .sideBar .office .phone p, #contactWrapper .sideBar .office .email p, #contactWrapper .sideBar .office .hour p, #contactWrapper .sideBar .hourWork .address p, #contactWrapper .sideBar .hourWork .phone p, #contactWrapper .sideBar .hourWork .email p, #contactWrapper .sideBar .hourWork .hour p {
  margin-right: .3em;
  font-size: 1.3em;
}

#contactWrapper .sideBar .office h4, #contactWrapper .sideBar .hourWork h4 {
  font-size: 1.8em;
  color: #2d2d31;
  font-weight: 700;
}

@media screen and (max-width: 1000px) {
  #contactWrapper {
    font-size: 8px;
  }
}

@media screen and (max-width: 800px) {
  #contactWrapper {
    padding: 0 1.5em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-align-content: "";
        -ms-flex-line-pack: "";
            align-content: "";
  }
  #contactWrapper .sideBar {
    -webkit-flex-shrink: 1;
        -ms-flex-negative: 1;
            flex-shrink: 1;
    width: 28em;
  }
}

@media screen and (max-width: 700px) {
  #contactWrapper {
    font-size: 6px;
  }
}
/*# sourceMappingURL=contact.css.map */