main {
  width: 95%;
  height: auto;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

main #sidebar {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 35em;
  height: auto;
  margin-bottom: 3em;
}

main .articles, main #article, main #products {
  margin-right: 3em;
  width: 100%;
  height: auto;
  padding-bottom: 3em;
}

@media screen and (max-width: 1000px) {
  main {
    font-size: 8px;
  }
}

@media screen and (max-width: 700px) {
  main {
    font-size: 6px;
  }
}

@media screen and (max-width: 600px) {
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-align-content: "";
        -ms-flex-line-pack: "";
            align-content: "";
  }
  main #sidebar {
    width: 100%;
    margin-bottom: 0;
  }
  main .articles, main #article, main #products {
    margin-right: 0;
    margin-top: 3em;
  }
}

#sidebar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#sidebar .partTop {
  -webkit-box-shadow: 0 0 0.5em 0.1em rgba(70, 69, 85, 0.3);
          box-shadow: 0 0 0.5em 0.1em rgba(70, 69, 85, 0.3);
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#sidebar .partTop .myAdd, #sidebar .partTop .mySocials, #sidebar .partTop .myProducts {
  width: 100%;
  height: auto;
  padding: 1.5em 0.75em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#sidebar .partTop .myAdd:not(:last-child), #sidebar .partTop .mySocials:not(:last-child), #sidebar .partTop .myProducts:not(:last-child) {
  border-bottom: 1px solid #90909b;
}

#sidebar .partTop .myAdd h6, #sidebar .partTop .mySocials h6, #sidebar .partTop .myProducts h6 {
  font-size: 1.6em;
  color: #1976d2;
  font-weight: 700;
}

#sidebar .partTop .myAdd .imgs, #sidebar .partTop .myAdd .socials, #sidebar .partTop .myAdd .products, #sidebar .partTop .mySocials .imgs, #sidebar .partTop .mySocials .socials, #sidebar .partTop .mySocials .products, #sidebar .partTop .myProducts .imgs, #sidebar .partTop .myProducts .socials, #sidebar .partTop .myProducts .products {
  width: 100%;
  height: auto;
  margin-top: 0.75em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#sidebar .partTop .myAdd .imgs a, #sidebar .partTop .mySocials .imgs a, #sidebar .partTop .myProducts .imgs a {
  width: 90%;
  height: 17em;
}

#sidebar .partTop .myAdd .imgs a:not(:first-child), #sidebar .partTop .mySocials .imgs a:not(:first-child), #sidebar .partTop .myProducts .imgs a:not(:first-child) {
  margin-top: 0.75em;
}

#sidebar .partTop .myAdd .imgs a img, #sidebar .partTop .mySocials .imgs a img, #sidebar .partTop .myProducts .imgs a img {
  width: 100%;
  height: 100%;
}

#sidebar .partTop .myAdd .socials, #sidebar .partTop .mySocials .socials, #sidebar .partTop .myProducts .socials {
  width: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  margin-left: auto;
  margin-right: auto;
}

#sidebar .partTop .myAdd .socials a, #sidebar .partTop .mySocials .socials a, #sidebar .partTop .myProducts .socials a {
  width: 3.5em;
  height: 3.5em;
}

#sidebar .partTop .myAdd .socials a i, #sidebar .partTop .mySocials .socials a i, #sidebar .partTop .myProducts .socials a i {
  width: 100%;
  height: 100%;
  position: relative;
}

#sidebar .partTop .myAdd .socials a i::before, #sidebar .partTop .mySocials .socials a i::before, #sidebar .partTop .myProducts .socials a i::before {
  position: absolute;
  font-size: 2em;
  color: #fbfbfb;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
     -moz-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

#sidebar .partTop .myAdd .socials a i.fa-telegram-plane, #sidebar .partTop .mySocials .socials a i.fa-telegram-plane, #sidebar .partTop .myProducts .socials a i.fa-telegram-plane {
  background-color: #0d91ff;
}

#sidebar .partTop .myAdd .socials a i.fa-pinterest, #sidebar .partTop .mySocials .socials a i.fa-pinterest, #sidebar .partTop .myProducts .socials a i.fa-pinterest {
  background-color: #e84f4f;
}

#sidebar .partTop .myAdd .socials a i.fa-instagram, #sidebar .partTop .mySocials .socials a i.fa-instagram, #sidebar .partTop .myProducts .socials a i.fa-instagram {
  background-color: #4fafff;
}

#sidebar .partTop .myAdd .socials a i.fa-facebook, #sidebar .partTop .mySocials .socials a i.fa-facebook, #sidebar .partTop .myProducts .socials a i.fa-facebook {
  background-color: #1c98ff;
}

#sidebar .partTop .myAdd .socials a i.fa-linkedin, #sidebar .partTop .mySocials .socials a i.fa-linkedin, #sidebar .partTop .myProducts .socials a i.fa-linkedin {
  background-color: #038dff;
}

#sidebar .partTop .myAdd .socials a i.fa-youtube, #sidebar .partTop .mySocials .socials a i.fa-youtube, #sidebar .partTop .myProducts .socials a i.fa-youtube {
  background-color: #ea6161;
}

#sidebar .partTop .myAdd .products a, #sidebar .partTop .mySocials .products a, #sidebar .partTop .myProducts .products a {
  width: 90%;
  height: 15em;
}

#sidebar .partTop .myAdd .products a:not(:first-child), #sidebar .partTop .mySocials .products a:not(:first-child), #sidebar .partTop .myProducts .products a:not(:first-child) {
  margin-top: 0.75em;
}

#sidebar .partTop .myAdd .products a img, #sidebar .partTop .mySocials .products a img, #sidebar .partTop .myProducts .products a img {
  width: 100%;
  height: 100%;
}

#sidebar .categories, #sidebar #searchProduct {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#sidebar .categories .title, #sidebar .categories .article, #sidebar #searchProduct .title, #sidebar #searchProduct .article {
  width: 100%;
  height: auto;
  padding: 0.75em;
  font-size: 1.6em;
}

#sidebar .categories .title, #sidebar #searchProduct .title {
  background-color: #4a4e60;
  color: #fbfbfb;
}

#sidebar .categories .article, #sidebar #searchProduct .article {
  background-color: white;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;
  color: #1976d2;
}

#sidebar .categories .article:hover, #sidebar #searchProduct .article:hover {
  background-color: #e6e6e6;
}

#sidebar .partBottom {
  -webkit-box-shadow: 0 0 0.5em 0.1em rgba(70, 69, 85, 0.3);
          box-shadow: 0 0 0.5em 0.1em rgba(70, 69, 85, 0.3);
  width: 100%;
  height: auto;
  margin-top: 3em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#sidebar .partBottom .heading {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#sidebar .partBottom .heading p {
  width: -webkit-calc((100%) / 3);
  width: -moz-calc((100%) / 3);
  width: calc((100%) / 3);
  height: 100%;
  padding: 0.75em;
  background-color: #f2f2f2;
  border-top: 3px solid #90909b;
  color: #1976d2;
  cursor: pointer;
  font-size: 1.4em;
}

#sidebar .partBottom .heading p:not(:last-child) {
  border-left: 1px solid #2d2d31;
}

#sidebar .partBottom .heading p:hover {
  border-top: 3px solid #FFBE4F;
  color: #2d2d31;
}

#sidebar .partBottom .heading p.active {
  border-top: 3px solid #FFBE4F;
  color: #2d2d31;
  background-color: white;
}

#sidebar .partBottom .tabs {
  width: 100%;
  height: auto;
}

#sidebar .partBottom .tabs .tab {
  width: 100%;
  height: auto;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#sidebar .partBottom .tabs .tab a {
  width: 100%;
  height: auto;
  font-size: 1.6em;
  color: #2d2d31;
  padding: 0.95em;
  background-color: #ededed;
}

#sidebar .partBottom .tabs .tab a:not(:last-child) {
  border-bottom: 1px solid #cccccc;
}

#sidebar .partBottom .tabs .tab a:hover {
  border-bottom: 3px solid #1976d2;
  color: #1976d2;
}

#sidebar .partBottom .tabs .tab.active {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 600px) {
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-align-content: "";
        -ms-flex-line-pack: "";
            align-content: "";
  }
  main #sidebar .partTop .myAdd .imgs, main #sidebar .partTop .myAdd .socials, main #sidebar .partTop .myAdd .products, main #sidebar .partTop .mySocials .imgs, main #sidebar .partTop .mySocials .socials, main #sidebar .partTop .mySocials .products, main #sidebar .partTop .myProducts .imgs, main #sidebar .partTop .myProducts .socials, main #sidebar .partTop .myProducts .products {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
            align-content: flex-start;
  }
  main #sidebar .partTop .myAdd .imgs a, main #sidebar .partTop .mySocials .imgs a, main #sidebar .partTop .myProducts .imgs a {
    width: -webkit-calc((100% - (3 * 1.5em)) / 3);
    width: -moz-calc((100% - (3 * 1.5em)) / 3);
    width: calc((100% - (3 * 1.5em)) / 3);
    height: 20em;
    margin: 0.75em;
  }
  main #sidebar .partTop .myAdd .imgs a:not(:first-child), main #sidebar .partTop .mySocials .imgs a:not(:first-child), main #sidebar .partTop .myProducts .imgs a:not(:first-child) {
    margin-top: 0;
  }
  main #sidebar .partTop .myAdd .socials, main #sidebar .partTop .mySocials .socials, main #sidebar .partTop .myProducts .socials {
    width: 100%;
  }
  main #sidebar .partTop .myAdd .socials a, main #sidebar .partTop .mySocials .socials a, main #sidebar .partTop .myProducts .socials a {
    width: 6em;
    height: 6em;
  }
  main #sidebar .partTop .myAdd .products a, main #sidebar .partTop .mySocials .products a, main #sidebar .partTop .myProducts .products a {
    width: -webkit-calc((100% - (3 * 1.5em)) / 3);
    width: -moz-calc((100% - (3 * 1.5em)) / 3);
    width: calc((100% - (3 * 1.5em)) / 3);
    height: 20em;
    margin: 0.75em;
  }
  main #sidebar .partTop .myAdd .products a:not(:first-child), main #sidebar .partTop .mySocials .products a:not(:first-child), main #sidebar .partTop .myProducts .products a:not(:first-child) {
    margin-top: 0;
  }
}

@media screen and (max-width: 400px) {
  main #sidebar .partTop .myAdd .imgs a, main #sidebar .partTop .mySocials .imgs a, main #sidebar .partTop .myProducts .imgs a {
    width: -webkit-calc((100% - (2 * 1.5em)) / 2);
    width: -moz-calc((100% - (2 * 1.5em)) / 2);
    width: calc((100% - (2 * 1.5em)) / 2);
    height: 20em;
  }
  main #sidebar .partTop .myAdd .products a, main #sidebar .partTop .mySocials .products a, main #sidebar .partTop .myProducts .products a {
    width: -webkit-calc((100% - (2 * 1.5em)) / 2);
    width: -moz-calc((100% - (2 * 1.5em)) / 2);
    width: calc((100% - (2 * 1.5em)) / 2);
    height: 20em;
  }
}

main .articles {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

main .articles .article {
  margin-top: 6em;
  width: 100%;
  height: auto;
  border-bottom: 1.5px solid #90909b;
  padding-bottom: 1.5em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

main .articles .article:first-child {
  margin-top: 0;
}

main .articles .article:last-child {
  border-bottom: none;
}

main .articles .article h4 {
  font-size: 2em;
  color: #2d2d31;
  font-weight: 700;
}

main .articles .article .tags {
  width: 100%;
  height: auto;
  margin-top: 0.75em;
  border-top: 1px solid #90909b;
  border-bottom: 1px solid #90909b;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
}

main .articles .article .tags .tag {
  width: auto;
  height: auto;
  margin: 1.5em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  color: #696975;
}

main .articles .article .tags .tag i, main .articles .article .tags .tag p {
  color: inherit;
  font-size: 1.3em;
}

main .articles .article .tags .tag i:not(:first-child), main .articles .article .tags .tag p:not(:first-child) {
  margin-right: .3em;
}

main .articles .article .content {
  width: 100%;
  height: auto;
  margin-top: 0.75em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

main .articles .article .content img {
  width: 100%;
  height: 25em;
  -o-object-fit: cover;
     object-fit: cover;
}

main .articles .article .content .desc {
  margin-top: 1.5em;
  font-size: 1.6em;
  color: #5d5d68;
  line-height: 2em;
}

main .articles .article .content .showMore {
  width: auto;
  height: auto;
  margin-top: 1.5em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  color: #1976d2;
}

main .articles .article .content .showMore i, main .articles .article .content .showMore p {
  font-size: 1.6em;
}

main .articles .article .content .showMore i:not(:first-child), main .articles .article .content .showMore p:not(:first-child) {
  margin-right: .3em;
}

main #article {
  padding-bottom: 1.5em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

main #article h4 {
  font-size: 2em;
  color: #2d2d31;
  font-weight: 700;
}

main #article .tags {
  width: 100%;
  height: auto;
  margin-top: 0.75em;
  border-top: 1px solid #90909b;
  border-bottom: 1px solid #90909b;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
}

main #article .tags .tag {
  width: auto;
  height: auto;
  margin: 1.5em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  color: #696975;
}

main #article .tags .tag i, main #article .tags .tag p {
  color: inherit;
  font-size: 1.3em;
}

main #article .tags .tag i:not(:first-child), main #article .tags .tag p:not(:first-child) {
  margin-right: .3em;
}

main #article .content {
  width: 100%;
  height: auto;
  margin-top: 0.75em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

main #article .content img {
  width: 100%;
  height: 25em;
  -o-object-fit: cover;
     object-fit: cover;
}

main #article .content .desc {
  margin-top: 1.5em;
  font-size: 1.6em;
  color: #5d5d68;
  line-height: 2em;
}

main #article .content .showMore {
  width: auto;
  height: auto;
  margin-top: 1.5em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  color: #1976d2;
}

main #article .content .showMore i, main #article .content .showMore p {
  font-size: 1.6em;
}

main #article .content .showMore i:not(:first-child), main #article .content .showMore p:not(:first-child) {
  margin-right: .3em;
}
/*# sourceMappingURL=articles.css.map */