@import '../../variables.scss' ;
@import '../../colors.scss' ;
@import '../../mixins.scss' ;
nav#blog{
    width: 100%;
    height: 5em;
    padding: 0 2vw;
    background-color: #163A5C;
    display: flex;
    @include flex(row,space-between,center,nowrap,"") ;
    .logo{
        width: auto;
        height: auto;
        margin-right: $dist2;
        img{
            width: 12em;
            height: 5em;
        }
    }
    .content{
        width: auto;
        height: 100%;
        display: flex;
        @include flex(row,flex-start,center,nowrap,"") ;
        li{
            width: auto;
            height: 100%;
            display: flex;
            @include flex(row,flex-start,center,nowrap,"") ;
            margin-right: $dist2 + 0em;
            color: white;
            background-color: inherit;
            transition: all .2s linear;
            padding: 0 $dist1;
            &:hover{
                background-color: darken(#163A5C,5%);
            }
        }
        li.basket{
            a{
                width: auto;
                height: 100%;
                padding: $dist1;
                display: flex;
                @include flex(row,flex-start,center,nowrap,"") ;
                color: inherit;
                i,p{
                    color: inherit;
                    font-size: $fontM;
                    &:not(:first-child){margin-right: .3em;}
                }
            }
        }
        li:not(.basket):not(.dropdownWrapper){
            
            a{
                width: auto;
                height: 100%;
                padding: $dist1;
                color: inherit;
                font-size: $fontS + .1em;
                display: flex;
                @include flex(row,flex-start,center,nowrap,"") ;
            }
        }
        li.dropdownTrigger{
            p,i{
                font-size:  $fontS + .1em;
                cursor: pointer;
            }
            i{margin-right: .3em;}
            .dropdown{
                width: 18em;
                height: auto;
                display: flex;
                @include flex(column,flex-start,flex-start,nowrap,"") ;
                li{
                    width: 100%;
                    height: auto;
                    margin: 0;
                    background-color: #163A5C;
                    transition: all .2s linear;
                    padding: 0;
                    &:hover{
                        background-color: darken(#163A5C,5%);
                    }
                    a{
                        display: inline-block; 
                        width: 100%;
                        height: 100%;
                        color: inherit;
                        font-size: $fontS + .1em;
                        padding: $dist1;
                    }
                }
            }
        }
    }
    .mobile{
        display: none;
    }
}
@include mediaQ(1000px){
    nav#blog{
        font-size: 7px;
    }
}
@include mediaQ(750px){
    nav#blog{
        padding: 0 $dist2;
        .content{
            display: none;
        }
        .mobile{
            display: block;
            width: 5em;
            height: 100%;
            cursor: pointer;
            position: relative;
            .fa-bars{
                color: $textWhite;
                font-size: $fontSpecial;
            }
            .menu{
                box-shadow: 0 .2em .6em .1em $shadowColor;
                width: 30em;
                height: auto;
                position: absolute;
                right: 0;
                top: 100%;
                display: flex;
                @include flex(column,flex-start,flex-start,nowrap,"") ;
                > li {
                    width: 100%;
                    height: auto;
                    padding: $dist1;
                    background-color: #163A5C;
                    cursor: pointer;
                    border-bottom: 1px solid darken($textWhite,20%);
                    &:last-child{border-bottom: none;}
                                                  
                }
                li.basket{
                    a{
                        width: 100%;
                        height: 100%;
                        color: $textWhite;
                        display: flex;
                        @include flex(row,flex-start,center,nowrap,"") ;
                        i{font-size: $fontXL;}
                        p{
                            font-size: $fontM;
                            margin-right: .5em;
                        }
                    }
                    &:hover{
                        background-color: darken(#163A5C,5%);
                    }      
                }
                li:not(.basket):not(.withCollapse){
                    a{
                        display: inline-block;
                        width: 100%;
                        height: 100%;
                        font-size: $fontL;
                        color: $textWhite;
                    }
                    &:hover{
                        background-color: darken(#163A5C,5%);
                    }      
                }
                li.withCollapse{
                    display: flex;
                    @include flex(column,flex-start,flex-start,nowrap,"");
                    padding: 0;           
                    .collapseTrigger{
                        width: 100%;
                        height: auto;
                        padding: $dist1;
                        display: flex;
                        @include flex(row,flex-start,center,nowrap,"") ;
                        color: $textWhite;
                        p{
                            font-size: $fontL;
                        }
                        i{
                            font-size: $fontL;
                            margin-right: .5em;
                        }
                        &:hover{
                            background-color: darken(#163A5C,5%);                    
                        }   
                    }
                    .collapse{
                        width: 100%;
                        display: flex;
                        @include flex(column,flex-start,flex-start,nowrap,"") ;
                        li{
                            width: 100%;
                            height: auto;
                            padding: $dist1 $dist3 $dist1 $dist1;
                            background-color: #163A5C;
                            // border-bottom: 1px solid darken($textWhite,20%);
                            // &:last-child{border-bottom: none;}
                            &:hover{
                                background-color: darken(#163A5C,5%);
                            }
                            a{
                                width: 100%;
                                height: 100%;
                                font-size: $fontM;
                                color: $textWhite;
                            }
                        }
                    }
                }
            }
        }
    }
}