@import '../../variables.scss' ;
@import '../../colors.scss' ;
@import '../../mixins.scss' ;
@import '../../utilities/styles/form.scss' ;
main{
    #sidebar{
        display: flex;
        @include flex(column,flex-start,flex-start,nowrap,"") ;
        box-shadow: 0 0 .5em .1em $shadowColor;
        .categories,#searchProduct{
            width: 100%;
            height: auto;
            display: flex;
            @include flex(column,flex-start,flex-start,nowrap,"") ;
            .title,.article{
                width: 100%;
                height: auto;
                padding: $dist1;
                font-size: $fontM;
            }
            .title{
                background-color: $darkBlue;
                color: $textWhite;
            }
            .article{
                background-color: white;
                transition: all .2s linear;
                color: $primaryColor;
                &:hover{
                    background-color: darken(white,10%);
                }
            }
        }
    }
}
