@import '../../variables.scss' ;
@import '../../colors.scss' ;
@import '../../mixins.scss' ;
main{
    width: 100%;
    height: auto;
    margin: $dist2 0;
    padding: 0 $dist4 * 2;
    display: flex;
    @include flex(row,flex-start,flex-start,nowrap,"") ;
    #sidebar{
        flex-shrink: 0;
        width: 25em;
        height: auto;
    }
    #products,.articles,#article,#product{
        width: 100%;
        height: auto;
        margin-right: $dist4;      
    }
}