@import '../../variables.scss' ;
@import '../../colors.scss' ;
@import '../../mixins.scss' ;
main{
    width: 95%;
    height: auto;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    @include flex(row,flex-start,flex-start,nowrap,"") ;
    #sidebar{
        flex-shrink: 0;
        width: 35em;
        height: auto;
        margin-bottom: $dist3;
    }
    .articles,#article,#products{
        margin-right: $dist3;
        width: 100%;
        height: auto;
        padding-bottom: $dist3;
    }
}
@include resizeTablet('main') ;
@include resizeMobile('main') ;
@include mediaQ(600px){
    main{
        @include flex(column,flex-start,center,nowrap,"") ;
        #sidebar{
            width: 100%;
            margin-bottom: 0;
        }
        .articles,#article,#products{
            margin-right: 0;
            margin-top: $dist3;
        }
    }
}