@import '../../variables.scss' ;
@import '../../colors.scss' ;
@import '../../mixins.scss' ;
.topSlider{
    width: 80% ;
    height: 35em;
    margin: $sectionsDist auto ;
    position: relative ;
    .slide{
        opacity: 0;
        visibility: hidden ;
        transition: all .4s linear ;
        img{
            width: 100% ;
            height: 100%;
        }
    }
    .slide.active{
        opacity: 1;
        visibility: visible ;
    }
    .arrow{
        color: $textWhite ;
        font-size: $fontXXL ;
        cursor: pointer;
        padding: $dist1 ;
        transition: all .2s linear ;
        &:hover{
            transform: translateY(-50%) scale(1.3) ;
        }
    }
    .arrow.prev{right: 0;}
    .arrow.next{left: 0;}
    .dots_container{
        width: auto ;
        height: auto;
        display: flex ;
        @include flex(row,flex-start,center,nowrap,"") ;
        bottom: $dist1 ;
        .dot{
            width: 2em ;
            height: 2em;
            border-radius: 50% ;
            margin: 0 $dist1 ;
            cursor: pointer;
            background-color: $textWhite ;
            transition: all .4s linear ;
            &:not(.active){
                &:hover{
                    background-color: lighten($purpleColor1,20%) ;
                }
            }
        }
        .dot.active{
            background-color: $purpleColor1 ;
            transform: scale(1.2) ;
        }
    }
}