@import '../../variables.scss' ;
@import '../../mixins.scss' ;
@import '../../colors.scss' ;

// @import '../../utilities/styles/form.scss' ;
footer{
    width: 100%;
    height: auto;
    display: flex;
    @include flex(column,flex-start,flex-start,nowrap,"");
    .follow{
        width: 100%;
        height: auto;
        padding: 0 $dist4 * 2;
        background-color: #042F50;
        display: flex;
        @include flex(row,space-between,center,nowrap,"") ;
        p{
            font-size: $fontM;
            color: white;
        }
        .socials{
            width: auto;
            height: 100%;
            margin-right: $dist2;
            display: flex;
            @include flex(row,flex-start,flex-start,nowrap,"") ;
            .social{
                width: 8em;
                height: 8em;
                padding: $dist1 $dist2;
                position: relative;
                background-color: #44769E;
                transition: all .2s linear;
                &:hover{
                    background-color: lighten(#44769E,5%);
                }
                i{
                    font-size: $fontXL;
                    color: white;
                }
            }
            .social.telegram{
                background-color: #0074AF;
                &:hover{
                    background-color: lighten(#0074AF,15%);
                }
            }
            .social.whatsapp{
                background-color: darken($greenColor1,5%);
                &:hover{
                    background-color: lighten($greenColor1,2%);
                }
            }
            .social.youtube{
                background-color: #E52927;
                &:hover{
                    background-color: lighten(#E52927,15%);
                }
            }
            .social.twitter{
                background-color: #01A1E1;
                &:hover{
                    background-color: lighten(#01A1E1,15%);
                }
            }
            .social.instagram{
                background-color: #44769E;
                &:hover{
                    background-color: lighten(#44769E,15%);
                }
            }
            .social.linkedin{
                background-color: #0074AF;
                &:hover{
                    background-color: lighten(#0074AF,15%);
                }
            }
        }
    }
    .links{
        width: 100%;
        height: auto;
        padding: $dist3 $dist4 * 2;
        background-color: #163A5C;
        display: flex;
        @include flex(row,flex-start,flex-start,wrap,flex-start);
        .col{
            width: auto;
            height: auto;
            margin: $dist2 $dist3;
            display: flex;
            @include flex(column,flex-start,flex-start,nowrap,"");
            h4{
                font-size: $fontM;
                color: white;
                font-weight: 700;
            }
            a{
                width: auto;
                height: auto;
                margin-top: $dist2;
                display: flex ;
                @include flex(row,flex-start,center,nowrap,"") ;
                i{
                    font-size: $fontM;
                    color: #EACB48;
                }
                p{
                    font-size: $fontS + .1em;
                    color: darken(white,5%);
                    margin-right: .3em;
                    transition: all .2s linear;
                    &:hover{
                        color: #EACB48;
                    }
                }
            }
        }
        #searchForm{
            width: auto;
            height: auto;
            margin: $dist2 $dist3;
        }
    }
    .copyright{
        width: 100%;
        height: auto;
        background-color: #123759;
        padding: $dist2 $dist4 * 2;
        position: relative;
        display: flex;
        @include flex(row,space-between,center,nowrap,"");
        img{
            width: 12em;
            height: 5em;
            margin-right: $dist2;
        }
        .right,.left{
            width: auto;
            height: auto;
            display: flex;
            @include flex(column,flex-start,flex-start,nowrap,"");
            p{
                font-size: $fontS;
                color: $textGrey;
                &:not(:first-child){margin-top: $dist1 + .2em;}
            }
        }
        .left{
            margin-right: $dist2;
        }
    }
}