@import '../../variables.scss' ;
@import '../../colors.scss' ;
@import '../../mixins.scss' ;
header{
    nav{
        width: 100%;
        height: auto;
        position: absolute ;
        right: 0;
        top: $dist4 + $dist2;
        display: flex;
        @include flex(row,flex-start,center,nowrap,"") ;
        color: $textWhite;
        padding-right: $dist4 * 2;
        .logo{
            width: 12em;
            height: 4em;
        }
        .navigation{
            width: auto;
            height: auto;
            margin-right: $dist3;
            display: flex;
            @include flex(row,flex-start,center,nowrap,"") ;
            > li{
                width: auto;
                height: auto;
                cursor: pointer;
                margin-right: $dist2 + .5em;
                font-size: $fontM;
                color: inherit;
                padding: $dist1 ;
                &:not(.search){
                    transition: all .3s linear;
                    background-color: transparent;
                    &:hover{
                        background-color: #333E55;
                    }
                }
                
            }
            .dropdownTrigger{
                display: flex;
                @include flex(row,flex-start,center,nowrap,"") ;
                position: relative;      
                p,i{
                    color: inherit;
                }
                i{margin-right: $dist1;}
                &:hover{
                    .dropdown{
                        height: auto;
                        opacity: 1;
                        visibility: visible;
                    }
                }
                .dropdown{
                    transition: all .3s linear;
                    width: 10em;
                    height: 0;
                    opacity: 0;
                    visibility: hidden;
                    top: calc(100% + 1em);
                    box-shadow: 0 0 .3em .05em darken($textWhite,20%);
                    display: flex;
                    @include flex(column,flex-start,flex-start,nowrap,"") ;
                    li{
                        width: 100%;
                        height: auto;
                        font-size: 10px;
                        background-color: adjust-color(#333E55,$alpha: -.35);
                        transition: all .3s linear;
                        a{
                            width: 100%;
                            height: auto;
                            color: inherit;
                            font-size: $fontM;
                        }
                        &:hover{
                            background-color: darken(#333E55,15%);
                        }
                    }
                }
            }
            .shop,.blog,.search{
                font-size: 10px;
                padding: $dist1 + .4em $dist2 ;
                a{
                    width: auto;
                    height: auto;
                    color: inherit;
                    font-size: $fontM;
                }           
            }
            .blog{
                border: 1.2px solid $textWhite ;
                padding: $dist1 $dist3 ;
                &:hover{
                    border: 1.2px solid transparent ;
                }
            }
            .search{
                padding: 0 ;
                margin-right: $dist3 + 2em;
                a{font-size: 10px;}
                i{
                    font-size: $fontXL;
                }
            }
        }
    }
}