@import '../../variables.scss' ;
@import '../../mixins.scss' ;
@import '../../colors.scss' ;
@import '../../utilities/styles/verticalSlider.scss' ;
#verticalSliderWrapper{
    .slider{
        .slide{
            display: flex;
            @include flex(row,flex-start,flex-start,nowrap,"") ;
            .right,.left{
                width: 50%;
                height: 100%;
            }
            .left{
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .right{
                padding: $dist4;
                display: flex;
                @include flex(column,flex-start,flex-start,nowrap,"") ;
                background-color: darken($darkBlue,10%);
                h4{
                    font-size: $fontXL;
                    font: 700;
                    color: $tealColor;
                }
                .text,.writer{
                    font-size: $fontM;
                    color: $textWhite;
                    margin-top: $dist2;
                }
            }
        }
    }
}