@import '../../variables.scss' ;
@import '../../colors.scss' ;
@import '../../mixins.scss' ;
header{
    .top{
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        right: 0;
        padding: $dist1 $dist4 * 2;
        background-color: darken($textDark,5%);
        color: $textWhite;
        display: flex;
        @include flex(row,space-between,center,nowrap,"") ;
        .right,.left{
            width: auto;
            height: 100%;
            display: flex;
            @include flex(row,flex-start,center,nowrap,"") ;
            &:nth-child(2){margin-right: $dist3;}
            a{
                width: auto;
                height: auto;
                font-size: $fontS;
                color: inherit;
                &:not(:first-child){margin-right: $dist3;}
            }
        }
        .left{
            a{
                display: flex;
                @include flex(row,flex-start,center,nowrap,"") ;
                font-size: 10px;
                i,p{
                    font-size: $fontS;
                    color: inherit;
                }
                p{margin-right: $dist1;}
            }
        }
    }
}