main {
  width: 95%;
  height: auto;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

main #sidebar {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 25em;
  height: auto;
  margin-bottom: 3em;
}

main .articles, main #article, main #products {
  margin-right: 3em;
  width: 100%;
  height: auto;
  padding-bottom: 3em;
}

@media screen and (max-width: 1000px) {
  main {
    font-size: 8px;
  }
}

@media screen and (max-width: 700px) {
  main {
    font-size: 6px;
  }
}

@media screen and (max-width: 600px) {
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-align-content: "";
        -ms-flex-line-pack: "";
            align-content: "";
  }
  main #sidebar {
    width: 100%;
    margin-bottom: 0;
  }
  main .articles, main #article, main #products {
    margin-right: 0;
    margin-top: 3em;
  }
}

#sidebar {
  -webkit-box-shadow: 0 0 0.5em 0.1em rgba(70, 69, 85, 0.3);
          box-shadow: 0 0 0.5em 0.1em rgba(70, 69, 85, 0.3);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#sidebar .myAdd, #sidebar .mySocials, #sidebar .myProducts {
  width: 100%;
  height: auto;
  padding: 1.5em 0.75em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#sidebar .myAdd:not(:last-child), #sidebar .mySocials:not(:last-child), #sidebar .myProducts:not(:last-child) {
  border-bottom: 1px solid #90909b;
}

#sidebar .myAdd h6, #sidebar .mySocials h6, #sidebar .myProducts h6 {
  font-size: 1.6em;
  color: #1976d2;
  font-weight: 700;
}

#sidebar .myAdd .imgs, #sidebar .myAdd .socials, #sidebar .myAdd .products, #sidebar .mySocials .imgs, #sidebar .mySocials .socials, #sidebar .mySocials .products, #sidebar .myProducts .imgs, #sidebar .myProducts .socials, #sidebar .myProducts .products {
  width: 100%;
  height: auto;
  margin-top: 0.75em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#sidebar .myAdd .imgs a, #sidebar .mySocials .imgs a, #sidebar .myProducts .imgs a {
  width: 90%;
  height: 17em;
}

#sidebar .myAdd .imgs a:not(:first-child), #sidebar .mySocials .imgs a:not(:first-child), #sidebar .myProducts .imgs a:not(:first-child) {
  margin-top: 0.75em;
}

#sidebar .myAdd .imgs a img, #sidebar .mySocials .imgs a img, #sidebar .myProducts .imgs a img {
  width: 100%;
  height: 100%;
}

#sidebar .myAdd .socials, #sidebar .mySocials .socials, #sidebar .myProducts .socials {
  width: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  margin-left: auto;
  margin-right: auto;
}

#sidebar .myAdd .socials a, #sidebar .mySocials .socials a, #sidebar .myProducts .socials a {
  width: 3.5em;
  height: 3.5em;
}

#sidebar .myAdd .socials a i, #sidebar .mySocials .socials a i, #sidebar .myProducts .socials a i {
  width: 100%;
  height: 100%;
  position: relative;
}

#sidebar .myAdd .socials a i::before, #sidebar .mySocials .socials a i::before, #sidebar .myProducts .socials a i::before {
  position: absolute;
  font-size: 2em;
  color: #fbfbfb;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
     -moz-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

#sidebar .myAdd .socials a i.fa-telegram-plane, #sidebar .mySocials .socials a i.fa-telegram-plane, #sidebar .myProducts .socials a i.fa-telegram-plane {
  background-color: #0d91ff;
}

#sidebar .myAdd .socials a i.fa-pinterest, #sidebar .mySocials .socials a i.fa-pinterest, #sidebar .myProducts .socials a i.fa-pinterest {
  background-color: #e84f4f;
}

#sidebar .myAdd .socials a i.fa-instagram, #sidebar .mySocials .socials a i.fa-instagram, #sidebar .myProducts .socials a i.fa-instagram {
  background-color: #4fafff;
}

#sidebar .myAdd .socials a i.fa-facebook, #sidebar .mySocials .socials a i.fa-facebook, #sidebar .myProducts .socials a i.fa-facebook {
  background-color: #1c98ff;
}

#sidebar .myAdd .socials a i.fa-linkedin, #sidebar .mySocials .socials a i.fa-linkedin, #sidebar .myProducts .socials a i.fa-linkedin {
  background-color: #038dff;
}

#sidebar .myAdd .socials a i.fa-youtube, #sidebar .mySocials .socials a i.fa-youtube, #sidebar .myProducts .socials a i.fa-youtube {
  background-color: #ea6161;
}

#sidebar .myAdd .products a, #sidebar .mySocials .products a, #sidebar .myProducts .products a {
  width: 90%;
  height: 15em;
}

#sidebar .myAdd .products a:not(:first-child), #sidebar .mySocials .products a:not(:first-child), #sidebar .myProducts .products a:not(:first-child) {
  margin-top: 0.75em;
}

#sidebar .myAdd .products a img, #sidebar .mySocials .products a img, #sidebar .myProducts .products a img {
  width: 100%;
  height: 100%;
}

#sidebar .categories, #sidebar #searchProduct {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#sidebar .categories .title, #sidebar .categories .article, #sidebar #searchProduct .title, #sidebar #searchProduct .article {
  width: 100%;
  height: auto;
  padding: 0.75em;
  font-size: 1.6em;
}

#sidebar .categories .title, #sidebar #searchProduct .title {
  background-color: #4a4e60;
  color: #fbfbfb;
}

#sidebar .categories .article, #sidebar #searchProduct .article {
  background-color: white;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;
  color: #1976d2;
}

#sidebar .categories .article:hover, #sidebar #searchProduct .article:hover {
  background-color: #e6e6e6;
}

@media screen and (max-width: 600px) {
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-align-content: "";
        -ms-flex-line-pack: "";
            align-content: "";
  }
  main #sidebar .myAdd .imgs, main #sidebar .myAdd .socials, main #sidebar .myAdd .products, main #sidebar .mySocials .imgs, main #sidebar .mySocials .socials, main #sidebar .mySocials .products, main #sidebar .myProducts .imgs, main #sidebar .myProducts .socials, main #sidebar .myProducts .products {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
            align-content: flex-start;
  }
  main #sidebar .myAdd .imgs a, main #sidebar .mySocials .imgs a, main #sidebar .myProducts .imgs a {
    width: -webkit-calc((100% - (3 * 1.5em)) / 3);
    width: -moz-calc((100% - (3 * 1.5em)) / 3);
    width: calc((100% - (3 * 1.5em)) / 3);
    height: 20em;
    margin: 0.75em;
  }
  main #sidebar .myAdd .imgs a:not(:first-child), main #sidebar .mySocials .imgs a:not(:first-child), main #sidebar .myProducts .imgs a:not(:first-child) {
    margin-top: 0;
  }
  main #sidebar .myAdd .socials, main #sidebar .mySocials .socials, main #sidebar .myProducts .socials {
    width: 100%;
  }
  main #sidebar .myAdd .socials a, main #sidebar .mySocials .socials a, main #sidebar .myProducts .socials a {
    width: 6em;
    height: 6em;
  }
  main #sidebar .myAdd .products a, main #sidebar .mySocials .products a, main #sidebar .myProducts .products a {
    width: -webkit-calc((100% - (3 * 1.5em)) / 3);
    width: -moz-calc((100% - (3 * 1.5em)) / 3);
    width: calc((100% - (3 * 1.5em)) / 3);
    height: 20em;
    margin: 0.75em;
  }
  main #sidebar .myAdd .products a:not(:first-child), main #sidebar .mySocials .products a:not(:first-child), main #sidebar .myProducts .products a:not(:first-child) {
    margin-top: 0;
  }
}

@media screen and (max-width: 400px) {
  main #sidebar .myAdd .imgs a, main #sidebar .mySocials .imgs a, main #sidebar .myProducts .imgs a {
    width: -webkit-calc((100% - (2 * 1.5em)) / 2);
    width: -moz-calc((100% - (2 * 1.5em)) / 2);
    width: calc((100% - (2 * 1.5em)) / 2);
    height: 20em;
  }
  main #sidebar .myAdd .products a, main #sidebar .mySocials .products a, main #sidebar .myProducts .products a {
    width: -webkit-calc((100% - (2 * 1.5em)) / 2);
    width: -moz-calc((100% - (2 * 1.5em)) / 2);
    width: calc((100% - (2 * 1.5em)) / 2);
    height: 20em;
  }
}

main #products .filtersWrapper {
  width: 100%;
  height: auto;
  margin-top: 1.5em;
  padding-bottom: 3em;
  border-bottom: 1px solid #c6c6cb;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
}

main #products .filtersWrapper #sortWrapper, main #products .filtersWrapper #formatWrapper {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

main #products .filtersWrapper #sortWrapper:not(:first-child), main #products .filtersWrapper #formatWrapper:not(:first-child) {
  margin-right: 3em;
}

main #products .filtersWrapper #sortWrapper label, main #products .filtersWrapper #formatWrapper label {
  font-size: 1.4em;
  color: #2d2d31;
}

main #products .filtersWrapper #sortWrapper select, main #products .filtersWrapper #formatWrapper select {
  margin-right: 0.75em;
  font-size: 1.4em;
  color: #2d2d31;
  padding-right: 0.75em;
}

main #products .pagination {
  width: auto;
  height: auto;
  margin-top: 3em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

main #products .pagination .page {
  width: auto;
  height: 100%;
  padding: 0.75em;
  font-size: 1.6em;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;
  background-color: white;
  color: #1976d2;
}

main #products .pagination .page:hover {
  color: white;
  background-color: #1976d2;
}

main #products .pagination .page.active {
  color: white;
  background-color: #1976d2;
}

main #products {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

main #products h4 {
  width: 100%;
  font-size: 2em;
  font-weight: 700;
  color: #2d2d31;
}

main #products .productsWrapper {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

main #products .productsWrapper .product {
  width: 100%;
  height: auto;
  padding: 0.75em;
  margin-top: 1.5em;
  border-bottom: 1px solid #c6c6cb;
  padding-bottom: 1.5em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

main #products .productsWrapper .product img {
  width: 12em;
  height: 12em;
}

main #products .productsWrapper .product .info {
  width: auto;
  height: auto;
  margin-right: 1.5em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

main #products .productsWrapper .product .info h4 {
  font-size: 1.6em;
  color: #2d2d31;
  font-weight: 700;
}

main #products .productsWrapper .product .info .desc {
  font-size: 1.6em;
  color: #90909b;
  margin-top: .3em;
}

main #products .productsWrapper .product .info .price {
  width: auto;
  height: auto;
  margin-top: .3em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

main #products .productsWrapper .product .info .price p {
  font-size: 1.6em;
}

main #products .productsWrapper .product .info .price p:not(:first-child) {
  margin-right: 1.5em;
}

main #products .productsWrapper .product .info .price .beforeDiscount {
  color: #1976d2;
}

main #products .productsWrapper .product .info a {
  margin-top: .3em;
  cursor: pointer;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
  color: white;
  background-color: #1976d2;
  border: 1.2px solid transparent;
}

main #products .productsWrapper .product .info a:hover {
  color: #1976d2;
  background-color: white;
  border: 1.2px solid #1976d2;
}

main #products .productsWrapper .product .info a.mid {
  font-size: 1.4em;
}

main #products .productsWrapper .product.withDiscount .info .price .beforeDiscount {
  color: #90909b;
  text-decoration: line-through;
}

main #products .productsWrapper .product.withDiscount .info .price .afterDiscount {
  color: #1976d2;
}

main #products .productsWrapper .product.withDiscount .info .price .discount {
  color: #90909b;
}
/*# sourceMappingURL=products.css.map */