@import '../../variables.scss' ;
@import '../../colors.scss' ;
@import '../../mixins.scss' ;
main{
    #categories{
        box-shadow: 0 0 .5em .1em $shadowColor;
        display: flex;
        @include flex(column,flex-start,flex-start,nowrap,"");
        overflow: hidden;
        .title{
            width: 100%;
            height: 4em;
            background-color: #F9F9F9;
            .skew{
                width: 100%;
                height: 100%;
                padding: $dist1;        
                // transform: skewX(-40deg) translateX($dist3) ;
                background-color: $darkBlue;
                p{
                    // transform: skewX(40deg);
                    font-size: $fontM;
                    font-weight: 700;
                    color: white;
                    padding-right: $dist1 / 2;
                    // margin-right: $dist2 + .5em;
                }
            }
        }
        .article{
            width: 100%;
            height: auto;
            padding: $dist1;
            background-color: #F9F9F9;
            color: $textDark;
            font-size: $fontM;
            border-bottom: 1px solid $textGrey;
            &:last-child{border-bottom: none;}
            transition: all .2s linear;
            &:hover{
                color: $primaryColor;
                background-color: darken(#F9F9F9,7%);
                &:not(:last-child){border-bottom: 1.2px solid $primaryColor;}
            }
        }
    }
}
