@import './variables.scss' ;
@import './colors.scss' ;
@import './mixins.scss' ;
//visual effects -----------------------------------------
//visual effects -----------------------------------------
//visual effects -----------------------------------------
.shadowS{box-shadow: 0 0 1em .05em rgba(175,175,175,.5);}
.shadowL{box-shadow: 0 0 1.5em .1em rgba(135,135,135,.5);}
.shadowBlurS{box-shadow: 0 0 2em .05em rgba(175,175,175,.5);}
.shadowBlurL{box-shadow: 0 0 2.5em .2em rgba(135,135,135,.5);}
.shadowBellow{box-shadow: 0 .3em 1em -.2em $shadowColor ;}
.shadowPrimary{box-shadow: 0 .6em 1.7em -.5em $primaryColor ;}
.containerStyle{
    width: 95% ;
    height: auto;
    margin: $dist3 auto 0 auto ;
    padding: $dist2  ;
    background-color: $bgColor ;
    box-shadow: 0 0 1em .01em $shadowColor ;
    border-radius: $dist2 ;
}
.zoom{
    // <div class="img zoom">
    //     <img src="../assets/imgs/article1.jpg" alt="articleImg">     
    // </div>
    cursor: pointer;
    border-radius: $dist2 ;
    overflow: hidden;
    img{
        width: 100% ;
        height: 100%;
        object-fit: cover ;
        transition: all .3s linear ;
    }
    &:hover{
        img{transform: scale(1.2) ;}    
    }
}
.pulse{
    position: relative ;
    &::before,&::after{
        content: '' ;
        width: 100% ;
        height: 100%;
        position: absolute ;
        top: 50% ;
        right: 50% ;
        transform: translate(50%,-50%) scale(1) ;
        border-radius: $dist3 ;
        background-color: transparent ;
        border: 1.2px solid $primaryColor ;
        opacity: 0;
    }
    &:hover {
        &::before,&::after{animation: pulse .5s linear 1 forwards ;}
        &::before{animation-delay: 0s ;}
        &::after{animation-delay: .3s ;}
    }  
    @keyframes pulse {
        from{opacity: 1;}
        to{
            opacity: 0;
            transform: translate(50%,-50%) scale(1.5) ;
        }
    }
}
.blurS{filter: blur(1px);}
.blurM{filter: blur(3px);}
.blurL{filter: blur(5px);}
.blurXL{filter: blur(10px);}
.btn{
    width: auto;
    height: auto;
    cursor: pointer;
    border-radius: $dist3;
}
.btn.small{
    font-size: $fontM;
    padding: .3em $dist2 + .2em;
}
.btn.mid{
    font-size: $fontM + .3em;
    padding: .4em $dist2 + .3em;
}
.btn.large{
    font-size: $fontL;
    padding: .5em $dist2 + .5em;
}
.collapseTrigger{cursor: pointer;}
.collapse{height: auto;}
.collapse.close{
    opacity: 0;
    visibility: hidden ;
    height: 0;
}
.collapse.addTransition{transition: all .15s linear ;}
.collapse.open{
    opacity: 1;
    visibility: visible ;
}
//text effects--------------------------------------------
//text effects--------------------------------------------
//text effects--------------------------------------------
.ellipse{
    white-space: nowrap ;
    overflow: hidden;
    text-overflow: ellipsis ;
}
//size and pos--------------------------------------------
//size and pos--------------------------------------------
//size and pos--------------------------------------------
.fullSize{
    width: 100% ;
    height: 100%;
}
.fullSize-abs{
    width: 100% ;
    height: 100%;
    top: 0 ;
    right: 0 ;
    position: absolute ;
}
.center-x{
    position: absolute ;
    right: 50% ;
    transform: translateX(50%) ;
}
.center-y{
    position: absolute ;
    top: 50% ;
    transform: translateY(-50%) ;
}
.center-xy{
    position: absolute ;
    top: 50% ;
    right: 50% ;
    transform: translate(50%,-50%) ;
}
//scroll arrows-------------------------------------------
//scroll arrows-------------------------------------------
//scroll arrows-------------------------------------------
.scrollArrows{
    position: relative;
    .arrows{
        display: none ;
        width: auto ;
        height: auto;
        @include flex(row,flex-start,center,nowrap,"") ;
        position: absolute ;
        left: 0;
        bottom: 105% ;
        i{
            font-size: $fontL ;
            color: $primaryColor ;
            margin-right: .3em ;
            animation: arrowAnime .6s linear infinite alternate ;
            &:nth-child(1){animation-delay: 0 ;}
            &:nth-child(2){animation-delay: .3s ;}
            &:nth-child(3){animation-delay: .6s ;      
            }         
        }
        @keyframes arrowAnime {
            from{opacity: 0;}
            to{opacity: 1;}
        }     
    }
    .arrows.show{display: flex ;}
}
//others-------------------------------------------
//others-------------------------------------------
//others-------------------------------------------
@include hiddenShow('.modal') ;
