form#forgetPassword {
  width: 40em;
  height: auto;
  padding: 1.5em;
  margin: 0;
  position: fixed;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
     -moz-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

form#forgetPassword img {
  width: 12em;
  height: 4em;
}

form#forgetPassword h4 {
  font-size: 2em;
  font-weight: 700;
  color: #2d2d31;
}

form#forgetPassword .inputWrapper.text {
  width: 35em;
  height: 4em;
  position: relative;
  margin-top: 1.5em;
}

form#forgetPassword .inputWrapper.text input {
  width: 100%;
  height: 100%;
  line-height: 4em;
  padding: 0 0.75em;
  font-size: 1.6em;
  color: #2d2d31;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;
}

form#forgetPassword .inputWrapper.text input::-webkit-input-placeholder {
  color: #90909b;
  font-size: 1.6em;
}

form#forgetPassword .inputWrapper.text input:-moz-placeholder {
  color: #90909b;
  font-size: 1.6em;
}

form#forgetPassword .inputWrapper.text input::-moz-placeholder {
  color: #90909b;
  font-size: 1.6em;
}

form#forgetPassword .inputWrapper.text input:-ms-input-placeholder {
  color: #90909b;
  font-size: 1.6em;
}

form#forgetPassword .inputWrapper.text input::-ms-input-placeholder {
  color: #90909b;
  font-size: 1.6em;
}

form#forgetPassword .inputWrapper.text input::placeholder {
  color: #90909b;
  font-size: 1.6em;
}

form#forgetPassword .inputWrapper.text input.style1 {
  border: none;
  border-bottom: 1.2px solid #d3d3d7;
}

form#forgetPassword .inputWrapper.text input.style1:focus ~ label {
  color: #1976d2;
  font-size: 8px;
  bottom: -webkit-calc(100% + .5em);
  bottom: -moz-calc(100% + .5em);
  bottom: calc(100% + .5em);
  -webkit-transform: translateY(50%);
     -moz-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  right: 0;
}

form#forgetPassword .inputWrapper.text input.style1:focus ~ .line {
  width: 100%;
}

form#forgetPassword .inputWrapper.text input.style2 {
  border: 1.2px solid #d3d3d7;
  border-radius: 3em;
}

form#forgetPassword .inputWrapper.text input.style2:focus {
  border: 1.2px solid #1976d2;
}

form#forgetPassword .inputWrapper.text input.style2:focus ~ label {
  color: #1976d2;
  font-size: 8px;
  bottom: -webkit-calc(100% + 1.5em);
  bottom: -moz-calc(100% + 1.5em);
  bottom: calc(100% + 1.5em);
  -webkit-transform: translateY(50%);
     -moz-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  right: 0.75em;
}

form#forgetPassword .inputWrapper.text input.style2:focus ~ .line {
  width: 0%;
}

form#forgetPassword .inputWrapper.text input.style1.error {
  border-bottom: 1.2px solid #ea6161;
}

form#forgetPassword .inputWrapper.text input.style1.error ~ label {
  color: #ea6161;
}

form#forgetPassword .inputWrapper.text input.style1.error ~ .line {
  background-color: #ea6161;
}

form#forgetPassword .inputWrapper.text input.style2.error {
  border: 1.2px solid #ea6161;
}

form#forgetPassword .inputWrapper.text input.style2.error ~ label {
  color: #ea6161;
}

form#forgetPassword .inputWrapper.text label {
  width: auto;
  height: auto;
  position: absolute;
  right: 0.75em;
  bottom: 50%;
  -webkit-transform: translateY(50%);
     -moz-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  color: #c6c6cb;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;
}

form#forgetPassword .inputWrapper.text label .icon {
  font-size: 1.6em;
}

form#forgetPassword .inputWrapper.text label p {
  font-size: 1.5em;
  -webkit-transform: translateX(-0.3em);
     -moz-transform: translateX(-0.3em);
      -ms-transform: translateX(-0.3em);
          transform: translateX(-0.3em);
}

form#forgetPassword .inputWrapper.text input.style1 ~ label.top {
  font-size: 8px;
  bottom: -webkit-calc(100% + .5em);
  bottom: -moz-calc(100% + .5em);
  bottom: calc(100% + .5em);
  -webkit-transform: translateY(50%);
     -moz-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  right: 0;
}

form#forgetPassword .inputWrapper.text input.style2 ~ label.top {
  font-size: 8px;
  bottom: -webkit-calc(100% + 1.5em);
  bottom: -moz-calc(100% + 1.5em);
  bottom: calc(100% + 1.5em);
  -webkit-transform: translateY(50%);
     -moz-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  right: 0.75em;
}

form#forgetPassword .inputWrapper.text .line {
  width: 0%;
  height: 1.2px;
  background-color: #1976d2;
  position: absolute;
  right: 0;
  top: -webkit-calc(100% - .6px);
  top: -moz-calc(100% - .6px);
  top: calc(100% - .6px);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;
}

form#forgetPassword .inputWrapper.text .msg {
  width: auto;
  height: auto;
  border-radius: 3em;
  padding: 0.75em 1.5em;
  position: relative;
  background-color: #ea6161;
  position: absolute;
  right: 0;
  top: 115%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;
}

form#forgetPassword .inputWrapper.text .msg p {
  color: #fbfbfb;
  font-size: 1.4em;
}

form#forgetPassword .inputWrapper.text .msg i {
  font-size: 2.4em;
  color: #ea6161;
  position: absolute;
  right: 1.5em;
  top: -webkit-calc(0% - .6em);
  top: -moz-calc(0% - .6em);
  top: calc(0% - .6em);
}

form#forgetPassword .inputWrapper.text .msg.show {
  opacity: 1;
  visibility: visible;
  z-index: 2;
}

form#forgetPassword .inputWrapper.text .rememberPassword {
  font-size: 1.2em;
  color: #ababb3;
  position: absolute;
  right: 0;
  top: 140%;
}

form#forgetPassword button[type="submit"] {
  width: auto;
  height: auto;
  padding: 0.3em 2em;
  margin-top: 1.5em;
  border-radius: 3em;
  font-size: 2em;
  cursor: pointer;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
  color: #fbfbfb;
  background-color: #1976d2;
  border: 1.2px solid transparent;
}

form#forgetPassword button[type="submit"]:hover {
  color: #1976d2;
  background-color: #fbfbfb;
  border: 1.2px solid #1976d2;
}

form#forgetPassword a.login {
  font-size: 1.4em;
  color: #90909b;
  margin-top: 1.5em;
}

@media screen and (max-width: 1000px) {
  form#forgetPassword {
    font-size: 8px;
  }
}

@media screen and (max-width: 700px) {
  form#forgetPassword {
    font-size: 6px;
  }
}
/*# sourceMappingURL=Form ForgetPass1.css.map */