.sliderWrapperFade {
  width: 80%;
  height: auto;
  padding: 0.75em 0 6.5em 0;
  margin: 4em auto 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  position: relative;
}

.sliderWrapperFade h4 {
  font-size: 2em;
  color: #2d2d31;
  font-weight: 700;
}

.sliderWrapperFade .btn {
  width: 4em;
  height: 4em;
  border-radius: 50%;
  cursor: pointer;
  background-color: #1976d2;
  z-index: 2;
}

.sliderWrapperFade .btn i {
  font-size: 2.4em;
  color: white;
}

.sliderWrapperFade .btn.prev {
  right: 1.5em;
}

.sliderWrapperFade .btn.next {
  left: 1.5em;
}

.sliderWrapperFade .show_more {
  width: auto;
  height: auto;
  font-size: 1.6em;
  color: #90909b;
  bottom: 0.75em;
}

.sliderWrapperFade .show_more i {
  font-size: 1.2em;
  color: #90909b;
  -webkit-transform: translate(-0.3em, 15%);
     -moz-transform: translate(-0.3em, 15%);
      -ms-transform: translate(-0.3em, 15%);
          transform: translate(-0.3em, 15%);
}

.sliderWrapperFade .helper {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.sliderWrapperFade .slides {
  width: 100%;
  height: auto;
  margin-top: 1.5em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  position: relative;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
}

.sliderWrapperFade .slides .slide {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: -webkit-calc((100% - (4 * 1.5em)) / 4);
  width: -moz-calc((100% - (4 * 1.5em)) / 4);
  width: calc((100% - (4 * 1.5em)) / 4);
  height: 25em;
  margin: 0 0.75em;
}

.sliderWrapperFade .slides .slide:nth-child(4n+1) {
  background-color: #1c98ff;
}

.sliderWrapperFade .slides .slide:nth-child(4n+2) {
  background-color: #ff759f;
}

.sliderWrapperFade .slides .slide:nth-child(4n+3) {
  background-color: #ffa78e;
}

.sliderWrapperFade .slides .slide:nth-child(4n+4) {
  background-color: #00efc4;
}
/*# sourceMappingURL=sliderCarousel.css.map */