#timelineWrapper {
  height: auto;
  margin: 3em auto;
  padding: 1.5em 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#timelineWrapper #timeline {
  width: 90%;
  height: auto;
  margin-top: 3em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  position: relative;
}

#timelineWrapper #timeline::before {
  content: '';
  width: 100%;
  height: .3em;
  background-color: #e0e0e4;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
}

#timelineWrapper #timeline .line {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  height: .4em;
  background-color: #00BC9A;
  right: 0;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
}

#timelineWrapper #timeline .step {
  position: relative;
}

#timelineWrapper #timeline .step p {
  position: absolute;
  right: 50%;
  -webkit-transform: translateX(50%);
     -moz-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
  width: 200%;
  text-align: center;
  top: -2em;
  font-size: 1.6em;
  color: #c6c6cb;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;
}

#timelineWrapper #timeline .step .circle {
  width: 4.5em;
  height: 4.5em;
  border-radius: 50%;
  background-color: white;
  border: 1.2px solid #c6c6cb;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;
  position: relative;
}

#timelineWrapper #timeline .step .circle i {
  opacity: 0;
  font-size: 2.4em;
  color: #fbfbfb;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;
}

#timelineWrapper #timeline .step.active p {
  color: #4a4e60;
  font-weight: 700;
}

#timelineWrapper #timeline .step.active .circle {
  border: 1.2px solid transparent;
  background-color: #00BC9A;
}

#timelineWrapper #timeline .step.active .circle i {
  opacity: 1;
}

#timelineWrapper form#sample {
  width: 100%;
  height: auto;
  margin-top: 1.5em;
  overflow: hidden;
}

#timelineWrapper form#sample #timelineSlider {
  width: 100%;
  height: auto;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  position: relative;
}

#timelineWrapper form#sample #timelineSlider .slide {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 100%;
  height: auto;
  padding: 0 1.5em 3em 1.5em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#timelineWrapper form#sample #timelineSlider .slide h4 {
  font-size: 2em;
  font-weight: 700;
  color: #2d2d31;
}

#timelineWrapper form#sample #timelineSlider .slide .content {
  width: 100%;
  height: auto;
  margin-top: 0.75em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#timelineWrapper form#sample #timelineSlider .slide .content p {
  font-size: 1.6em;
  color: #5d5d68;
}

#timelineWrapper form#sample #timelineSlider .slide .btnWrapper {
  width: auto;
  height: auto;
  margin-top: 1.5em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
}

#timelineWrapper form#sample #timelineSlider .slide .btnWrapper .changeSlide {
  width: auto;
  height: auto;
  border-radius: 3em;
  cursor: pointer;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;
  padding: 0.65em 2.5em;
  white-space: nowrap;
  font-size: 1.6em;
  color: #fbfbfb;
}

#timelineWrapper form#sample #timelineSlider .slide .btnWrapper .changeSlide:nth-child(2) {
  margin-right: 3em;
}

#timelineWrapper form#sample #timelineSlider .slide .btnWrapper .changeSlide.prev {
  background-color: #ea6161;
}

#timelineWrapper form#sample #timelineSlider .slide .btnWrapper .changeSlide.prev:hover {
  border: 1.2px solid #ea6161;
  color: #ea6161;
  background-color: #fbfbfb;
}

#timelineWrapper form#sample #timelineSlider .slide .btnWrapper .changeSlide.next {
  background-color: #00BC9A;
}

#timelineWrapper form#sample #timelineSlider .slide .btnWrapper .changeSlide.next:hover {
  border: 1.2px solid #00BC9A;
  color: #00BC9A;
  background-color: #fbfbfb;
}

@media screen and (max-width: 1000px) {
  #timelineWrapper {
    font-size: 8px;
  }
}

@media screen and (max-width: 700px) {
  #timelineWrapper {
    font-size: 6px;
  }
}

@media screen and (max-width: 500px) {
  #timelineWrapper {
    padding: 1.5em 1.5em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-align-content: "";
        -ms-flex-line-pack: "";
            align-content: "";
  }
  #timelineWrapper #timeline {
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    width: auto;
    height: 90%;
    margin-top: 1.5em;
    margin-right: 3em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-align-content: "";
        -ms-flex-line-pack: "";
            align-content: "";
  }
  #timelineWrapper #timeline::before {
    width: .3em;
    height: 100%;
    position: absolute;
    right: 50%;
    -webkit-transform: translateX(50%);
       -moz-transform: translateX(50%);
        -ms-transform: translateX(50%);
            transform: translateX(50%);
    top: 0;
  }
  #timelineWrapper #timeline .line {
    width: .3em;
    position: absolute;
    right: 50%;
    -webkit-transform: translateX(50%);
       -moz-transform: translateX(50%);
        -ms-transform: translateX(50%);
            transform: translateX(50%);
    top: 0;
  }
  #timelineWrapper #timeline .step p {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: -3em;
  }
  #timelineWrapper form#sample {
    margin-top: 1.5em;
    margin-right: 1.5em;
  }
}
/*# sourceMappingURL=timeline.css.map */