@import '../../variables.scss' ;
@import '../../colors.scss' ;
.withTooltip{   
    position: relative ;    
    cursor: pointer;
    &:hover{
        .tooltip{
            visibility: visible ;
            opacity: 1;
            z-index: 5;
        }
    }
    .tooltip{
        display: inline-block ;
        width: auto ;
        height: auto;
        text-align: center ;
        line-height: 0 ;
        white-space: nowrap ;
        padding: $dist1 $dist2 - .4em ;
        font-size: $fontM / 2 ;
        color: $textWhite ;
        background-color: darken($darkBlue,0%) ;
        border-radius: $dist1 ;
        position: absolute ;
        top: 105% ;
        right: -10% ;     
        opacity: 0;
        visibility: hidden ;
        transition: all .3s linear ;
    }
    .tooltip.show{
        opacity: 1;
        visibility: visible ;
        z-index: 5;
    }
}