#verticalSliderWrapper {
  width: 100%;
  height: 45em;
  position: relative;
  overflow: hidden;
}

#verticalSliderWrapper .dots {
  z-index: 1;
  width: auto;
  height: auto;
  right: 1.5em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

#verticalSliderWrapper .dots .dot {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
  cursor: pointer;
  margin-top: 2.25em;
  background-color: #fbfbfb;
  cursor: pointer;
}

#verticalSliderWrapper .dots .dot.active {
  -webkit-transform: scale(1.5);
     -moz-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
  background-color: #1976d2;
}

#verticalSliderWrapper .btn {
  z-index: 2;
  color: white;
  font-size: 4em;
  cursor: pointer;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;
}

#verticalSliderWrapper .btn:hover {
  font-size: 5em;
  color: #1976d2;
}

#verticalSliderWrapper .btn.prev {
  top: .2em;
}

#verticalSliderWrapper .btn.next {
  bottom: .2em;
}

#verticalSliderWrapper .slider {
  width: 100%;
  height: 100%;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
  position: relative;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#verticalSliderWrapper .slider .slide {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1000px) {
  #verticalSliderWrapper {
    font-size: 8px;
  }
}

@media screen and (max-width: 700px) {
  #verticalSliderWrapper {
    font-size: 6px;
  }
}

@media screen and (max-width: 500px) {
  #verticalSliderWrapper {
    height: 100vh;
  }
  #verticalSliderWrapper .dots {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-align-content: "";
        -ms-flex-line-pack: "";
            align-content: "";
    top: -webkit-calc(100% - 3em);
    top: -moz-calc(100% - 3em);
    top: calc(100% - 3em);
    right: 50%;
    -webkit-transform: translateX(50%) rotate(180deg);
       -moz-transform: translateX(50%) rotate(180deg);
        -ms-transform: translateX(50%) rotate(180deg);
            transform: translateX(50%) rotate(180deg);
  }
  #verticalSliderWrapper .dots .dot {
    margin-top: 0;
  }
  #verticalSliderWrapper .dots .dot:not(:first-child) {
    margin-right: 3em;
  }
}
/*# sourceMappingURL=verticalSlider.css.map */